@import '../config/variables';

/*footer */

#footer{
	background-color: $footer-color;
	padding: 30px 0;
}
#footer .wrapper{
	position: $position-r;
}

#footer p{
	margin-bottom: 0;
}

#footer-menu{
	list-style: none;
	margin: 0;
	padding:0;
}

#footer-menu {

    li {
	float: left;
    }

    li + li::before{
	content: "|";
	color: $text-color;
    }

    li + li{
	margin-left: 6px;
    }

    a{
	color: $text-color;
	font-size: 12px;
    }
}
.footer-logo{
	height: 64px;
	position: $position-a;
	right: 0;
	top: -8px;
}
