/* Variables */

$font-body : Arial, Helvetica, sans-serif;
$text-color: #5d5d5d;
$title-color: #090909;
$little-size : 0.6rem;
$Big-size: 0.9rem;
$block-color: #c0c0c0;
$link-color:  #fe9b00;
$footer-color: #e2e2e2;
$position-r: relative;
$position-a: absolute;
